.section-course {
  position: relative;
  z-index: map-get($layer, 'default');
  background: $background-03;
  color: $color-white;
  .section-title {
    line-height: 1;
  }
  .section-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    .box-left {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      margin-bottom: 3rem;
      @include mq(md) {
        width: 45%;
        margin-bottom: 0;
      }
      @include mq(lg) {
        align-items: flex-start;
      }
      .img-box {
        width: 100%;
        @include mq(md) {
          width: 90%;
        }
        img {
          object-fit: cover;
        }
      }
    }
    .box-right {
      width: 100%;
      @include mq(md) {
        width: 55%;
      }
      h3 {
        padding: .3em 0;
        border-top: 2px solid $color-white;
        border-bottom: 2px solid $color-white;
        text-align: center;
        margin-bottom: .5em;
      }
      .course-price {
        margin-bottom: 1.5rem;
        table {
          font-size: $font-size-h3;
          width: 100%;
          padding-right: 20%;
          @include mq(sm) {
            font-size: calc(#{$font-size-h3} * #{$rsp});
          }
          tr {
            td {
              &:nth-child(1) {
                width: 50%;
                text-align: end;
              }
              &:nth-child(2) {
                width: 50%;
                text-align:start;
              }
              span {
                &.price {
                  display: inline-block;
                  width: 110px;
                  text-align: end;
                  @include mq(sm) {
                    width: 150px;
                  }
                }
                &.unit {
                  font-size: 0.8em;
                }
              }
            }
          }
        }
      }
      .course-content {
        p {
          line-height: 1.5;
          span {
            position: relative;
            display: inline-block;
            padding: 0 0.2em;
            margin-right: 0.4em;
            color: $color-back-03;
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              display: inline-block;
              background-color: $color-white;
              width: 100%;
              height: 1.1em;
              z-index: -1;
            }
          }
        }
      }
    }
  }
  .course-note {
    padding: 1rem;
    background-color: $color-white;
    border-radius: 10px;
    p {
      color: $color-back-03;
      padding: .5em 0;
      &:first-of-type {
        border-bottom: 2px solid $color-back-03;
      }
    }
  }
}