.section-leading {
  text-align: center;
  .section-title {
    font-size: $font-size-h1;
    line-height: 1.3;
    margin-bottom: 0.5em;
    @include mq(sm) {
      font-size: calc(#{$font-size-h1} * #{$rsp});
    }
    br {
      display: inline;
      @include mq(md) {
        display: none;
      }
    }
  }
}