.wp-page-about {
  .about-leading {
    padding: 40px 0 20px;
    p {
      text-align: center;
      font-size: $font-size-h4;
      @include mq(sm) {
        font-size: calc(#{$font-size-h4} * #{$rsp});
      }
    }
  }
}