$color-text: #2B2B2B;
$color-black: #2B2B2B;
$color-white: #fff;
// $color-main: #376D43;
$color-main: #697D6C;
// $color-main: #697D6C;
$color-main-light: #7ae792;
$color-strong: #E84051;
$color-attention: #ffd900;
$color-brown: #886229;
$color-back-03: #697D6C;
$color-gray: #707070;
$color-back-04: #E76E31;
$color-back-01: #FEFEFC;